body {
	font-size: 14pt;
	letter-spacing: 0.035em;
	line-height: 1.5em;
}

h1 {
	font-size: 1.25em;
}

h2 {
	font-size: 1.1em;
	margin-bottom: 0.5em;
}

.container {
	padding: 0 2em 0 2em;
}

.button {
	font-size: 1.25em;
	padding: 0.75em 2em 0.75em 2em;
}

#header {
	margin-top: 3em;
}

#nav {
	text-align: right;
}

#nav a {
	margin-left: 2em;
}

#hero {
	border-radius: 0.5em;
	margin: 2em 0 2em 0;
	padding: 3em 0 3em 0;
}

#hero h2 {
	font-size: 2.5em;
	margin-bottom: 0.75em;
}

#hero p {
	font-size: 1.25em;
	margin-bottom: 1.5em;
}

#footer {
	margin: 3em 0 3em 0;
}
.homebtn {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:1.06px;
	border:2px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:36px;
	line-height:36px;
	width:106px;
	text-decoration:none;
	text-align:center;
	text-shadow:7px 6px 2px #689324;
}
